body {
  background: linear-gradient(to right, rgb(216, 193, 237), rgb(238, 230, 246));
  background-color: rgb(216, 193, 237);
  font-family: "Roboto", serif;
}

header {
  font-size: 38px;
  font-weight: bold;
  color: rgb(210, 138, 150);
}

img {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 55%;
  height: auto;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: black;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 25px;
  text-align: center;
  font-size: small;
}

.previous {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}
